<a href="https://colab.research.google.com/github/mhyubr/Basic_Machine_Learning/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression

## Dataset

In [9]:
import pandas as pd

In [10]:
pembeli_mobil = pd.read_csv('https://raw.githubusercontent.com/mhyubr/Basic_Machine_Learning/main/dataset/calonpembeli_ch5.csv')

In [11]:
pembeli_mobil.head()

   ID  Usia  Status  Kelamin  Memiliki_Mobil  Penghasilan  Beli_Mobil
0   1    32       1        0               0          240           1
1   2    49       2        1               1          100           0
2   3    52       1        0               2          250           1
3   4    26       2        1               1          130           0
4   5    45       3        0               2          237           1

In [12]:
pembeli_mobil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              1000 non-null   int64
 1   Usia            1000 non-null   int64
 2   Status          1000 non-null   int64
 3   Kelamin         1000 non-null   int64
 4   Memiliki_Mobil  1000 non-null   int64
 5   Penghasilan     1000 non-null   int64
 6   Beli_Mobil      1000 non-null   int64
dtypes: int64(7)
memory usage: 54.8 KB

In [14]:
pembeli_mobil[['Usia', 'Status', 'Kelamin', 'Memiliki_Mobil', 'Penghasilan', 'Beli_Mobil']].describe()

,Usia,Status,Kelamin,Memiliki_Mobil,Penghasilan,Beli_Mobil
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000
mean,43.532000,1.469000,0.481000,0.95200,270.09000,0.633000
std,12.672078,1.073402,0.499889,0.80146,95.23681,0.482228
min,24.000000,0.000000,0.000000,0.00000,95.00000,0.000000
25%,33.000000,1.000000,0.000000,0.00000,187.00000,0.000000
50%,43.000000,1.000000,0.000000,1.00000,258.50000,1.000000
75%,53.000000,2.000000,1.000000,2.00000,352.25000,1.000000
max,164.000000,3.000000,1.000000,4.00000,490.00000,1.000000

In [27]:
print('0 = Single, 1 = Menikah, 2 = Menikah dengan anak, 3 = Duda/janda\n')
pembeli_mobil['Status'].unique()

0 = Single, 1 = Menikah, 2 = Menikah dengan anak, 3 = Duda/janda

array([1, 2, 3, 0])

In [29]:
print('0 = Pria, 1 = Wanita\n')
pembeli_mobil['Kelamin'].unique()

0 = Pria, 1 = Wanita

array([0, 1])